/* body */

body {
    background-color: rgba(1, 1, 7, 0.795);
    overflow-x: hidden;
    min-height: 100%;
    min-width: 100%;
}


/* navbar */

.navbar-brand img {
    width: 45px;
    height: 45px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 700;

}

.navbar-toggler {
    margin-right: 10px;
}

/* hero image carousel*/

.c-item {
    height: 720px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: contrast(1.1);
}

.carousel-caption {
    position: absolute;
    top: 10%;
    text-shadow: 0 0 3px #000000, 0 0 5px #000008;
}

/* about us section */

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutus {
    font-size: 1.2em;
    padding: 18px;
    margin-bottom: 38px;
    margin-top: 90px;
    text-align: center;
    border: 4px solid #ff5500;
    position: relative;


}

.aboutus>p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 2rem;

}

/* upcoming shows */

.shows-container {
    margin-top: 35px;
    margin-bottom: 35px;
}

.shows-header {
    padding-top: 40px;
    padding-bottom: 60px;
    color: #ffffff;
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-align: center;
    font-size: xxx-large;
    font-weight: 600;
}

.upcoming-shows {
    padding-bottom: 100px;
}

.showname {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    font-weight: 600;
}

/* upcoming shows button */
.btn-primary {
    color: #FFFFFF;
    background-color: #FF5500;
    border-color: #000000;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #D14600;
    border-color: #000000;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;

}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #FF5500;
    border-color: #000000;
 
}

.btn-primary .badge {
    color: #FF5500;
    background-color: #FFFFFF;
}
/* newsletter signup form */

.newsletter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.card {
    display: block;
    position: relative;
    width: 480px;
    max-width: 90%;
    min-height: 12em;
    background-color: #212529;
    color: #ffffff;
    padding: 1em 2em 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.card form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.card form input {
    display: flex;
    width: 80%;
}

.card form input.email {
    border: 0px;
    margin-bottom: 1em;
    padding: .3em 1em;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    outline: none;
    border-radius: 5px;
    background-color: #FFffff;
}

.card form button {
    border: 0px transparent;
    padding: 1em 1.2em;
    border-radius: 5px;
    background-color: #FF5500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
    transition: .4s all ease-in-out;
    cursor: pointer;
}

.card form button:hover {
    background-color: #D14600;
}


/* Thank you page style */

.thankyoupage {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #212529;
    padding: 10px 0px 50px;
}

.thankyoupage h1 {
    font-size: 5vw;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding: 50px 10px 10px;
}

.thankyoupage p {
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    padding: 15px 15px 15px;
}

.thankyoupage a {
    font: 35px;
    text-align: center;
    color: #ffffff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    width: 250px;
    background: #FF5500;
    border-radius: 5px;
    margin: 50px auto 0px;
    padding: 20px 20px 20px;
    transition: .4s all ease-in-out;
    cursor: pointer;
}

.thankyoupage a:hover {
    background-color: #D14600;

}


/* comedians page title */

.main-title {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000000;
    text-align: center;
}

.comedian-container {
    padding-bottom: 100px;
}

.comedian-image {
    float: left;
}

.comedian-bio-container {
    width: 450px;
    height: 235px;
}

.comedian-name {
    font-size: 25px;
    color: #FF5500;
    font-weight: bolder;
    padding-top:5px;
    padding-bottom: 20px;
    text-align: center;
}

.comedian-bio {
    height: 185px;
    color: white;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;

}

/* go to top button */
.gotopbtn {
    position:fixed;
    width:50px;
    height:50px;
    background:#FF5500;
    bottom:40px;
    right:20px;
    text-decoration: none;
    text-align:center;
    line-height: 50px;
    color:white;
    font-size:20px;

}

/* contact page */