/* navbar */
.navbar-brand img {
    width: 45px;
    height: 45px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 700;

}

/* hero image carousel*/
.c-item {
    height: 720px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: contrast(1.1);
}

.carousel-caption {
    postion: absolute;
    top: 10%;
    text-shadow: 0 0 3px #000000, 0 0 5px #000008;
}